---
layout: default
year: 2016
---

<!-- About Section -->
<section id="about" class="even">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>关于</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          开放数据创新营是上海开放数据周的重要组成部分，其重点面向公众，旨在建设公众数据素养并传播开放数据理念。形式上，开放数据创新营是为期两天横跨周末的活动，其由社会各界的机构贡献工作坊、培训、互动讨论的活动内容。
        </p>

        <p>
          
        </p>

        <p>
          
        </p>
      </div>
    </div>
  </div>
</section>

{% include talks-tab.html %}

{% include speakers.html %}

<!-- Logistics Section -->
<section id="logistics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>场地</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="text-center">
          同济大学设计创意学院<br/>
          上海杨浦区阜新路281号二期楼<br/>
          （鞍山路与阜新路交叉口）

        </p>
        <dl>
          <dt><i class="fa fa-subway"></i>地铁</dt>
          <dd>
            <ul>
              <li>10号线地铁在同济大学站下车，1号口或2号口出站，沿彰武路右转进入阜新路</li>
            </ul>
          </dd>
          <dt><i class="fa fa-bus"></i>公交</dt>
          <dd>
            <ul>
              <li>附近公交车61路、55路、147路、843路、115路、960路等</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section id="registration">
<script type="text/javascript" src="https://yoopay.cn/scripts/easyXDM.min.js"></script> <script type="text/javascript"> var REMOTE = "https://yoopay.cn";var transport = new easyXDM.Socket(/** The configuration */{remote: REMOTE + "/proxy.html?url=/payment/payment_widget/48246535%3Fwidth%3Dbig%26attendeeList%3Dhideen%26ref%3D", swf: REMOTE + "/scripts/easyxdm.swf", container: "embedded", onMessage: function(message, origin) {this.container.getElementsByTagName("iframe")[0].style.width = "100%";this.container.getElementsByTagName("iframe")[0].style.height = parseInt(message) + 20 + "px";}});</script> <div id="embedded"></div>
</section>
