<footer class="text-center" id="organizers">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h1>指导单位</h1>
          <ul class="credits">
            {% for organization in event.supervisor %}
            <li><a href="{{ organization.www }}"><img src="../images/organizations/{{ organization.ci }}" alt="{{ organization.name}}"></a></li>
            {% endfor %}
          </ul>
        </div>
      <div class="row">
        <div class="footer-col">
          <h1>主办单位</h1>
          <ul class="credits">
            {% for organization in event.organizers %}
            <li><a href="{{ organization.www }}"><img src="../images/organizations/{{ organization.ci }}" alt="{{ organization.name}}"></a></li>
            {% endfor %}
          </ul>
        </div>
      <div class="row">
        <div class="footer-col">
          <h1>内容贡献</h1>
          <ul class="credits">
            {% for organization in event.partners %}
            <li><a href="{{ organization.www }}"><img src="../images/organizations/{{ organization.ci }}" alt="{{ organization.name}}"></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          该站点由开放数据中国提供技术支持，所有文字内容授权于 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名4.0协议</a>下。
        </div>
      </div>
    </div>
  </div>
</footer>
