---
layout: default
---

<!-- About Section -->
<section id="about" class="even">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>행사소개</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          전자기기의 소형화, 이동통신망의 품질과 속도 향상, 스마트폰의 등장 등
          정보통신기술(ICT)의 급속한 발전으로 우리 생활과 데이터는 웹을 통해
          더욱 밀접하게 연결되고 있습니다. 날씨의 변화, 도로의 상황, 버스와
          지하철의 승하차, 웹 검색, 도서 및 논문의 열람, 항공권과 호텔의 예약 등
          이미 우리가 하루를 보내며 겪는 많은 일이 데이터를 만들고 사용하고
          있습니다. 그리고 IoT, 핀테크, 무인자동차 등 삶을 편리하게 바꿔줄
          기술이 더 빠른 속도로 등장함에 따라 무의식중에 생산되고 소비되는
          데이터도 훨씬 복잡하고 방대해질 것입니다.
        </p>

        <p>
          복잡하고 방대한 데이터를 효율적으로 다루기 위해서 데이터는 더욱
          똑똑해져야 합니다. 우리는 이미 많은 양의 정보가 서로 연결되고 공유될
          때 강력해질 수 있음을 정보의 웹을 통해 경험했고, 데이터도 서로
          연결되고 공유될 때 더 똑똑해질 수 있습니다. 앞으로 기술은 점차
          지능화될 것이고 기술의 지능화는 사회·경제적으로 큰 변화를 가져올
          것입니다. 그리고 그 바탕은 연결과 공유를 통해 데이터를 똑똑하게 만드는
          데이터의 웹이 차지하게 될 것입니다.
        </p>

        <p>
          올해로 세 번째를 맞는 LODAC (Linked Open Data Annual Conference)
          2016에서는 생활 속에서 생산 및 활용되는 다양한 데이터를 조망하고,
          연결과 공유를 통해 만들어진 오픈 데이터와 링크드 데이터가 어떻게
          활용되고 있는지 살펴보는 기회를 얻고자 합니다. 이번 LODAC 2016이 더
          가까워지고 똑똑해진 링크드 오픈 데이터를 느낄 기회가 되길 기대하며
          여러분의 많은 관심과 참여를 부탁합니다.
        </p>
      </div>
    </div>
  </div>
</section>

{% include talks.html %}

{% include speakers.html %}

<!-- Logistics Section -->
<section id="logistics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>행사장소</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="text-center">
          LODAC 2016은 국립중앙도서관 국제회의장에서 개최됩니다.
        </p>
        <dl>
          <dt><i class="fa fa-subway"></i>지하철</dt>
          <dd>
            <ul>
              <li>2호선 서초역(6번 출구)에서 고속터미널(역) 방면 도보 15분</li>
              <li>3, 7, 9호선 고속버스터미널역(5번 출구)에서 예술의전당(서초역) 방면 도보 10분</li>
            </ul>
          </dd>
          <dt><i class="fa fa-bus"></i>마을버스</dt>
          <dd>
            <ul>
              <li>2호선 서초역(7번 출구)에서 서울성모병원행(서초 13번, 서초 21번) 이용</li>
              <li>고속버스터미널 옆 삼성래미안 아파트(구 반포주공) 앞에서 국립중앙도서관행(서초 13번) 이용</li>
            </ul>
          </dd>
          <dt><i class="fa fa-bus"></i>일반버스</dt>
          <dd>
            <ul>
              <li>서울성모병원이나 대검찰청에서 하차 후 도보 약 5분</li>
              <li>간선(파랑)버스: 405, 740</li>
              <li>지선(초록)버스: 5413</li>
            </ul>
          </dd>
          <dt><i class="fa fa-car"></i>주차장 이용 안내</dt>
          <dd>
            <ul>
              <li>장애인(장애인 복지법 제 19조의 규정에 의한 장애인 수첩 소지자 또는 장애인 자동차 표지 부착 차량), 국가 유공자 및 경차는 주차요금을 100분의 50 감면</li>
              <li>운영시간: 09:00~20:00</li>
              <li>기본요금: 1일 1회에 한하여 2시간 이내 무료</li>
              <li>초과요금: 초과 1분 ~ 15분에 500원</li>
              <li>1일 최고요금: 7,000원</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
